/* --------font-------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* ------------shared css style ------------ */
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
.primary-btn {
    background-color: #FD6E0A;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
}
.primary-btn:hover {
    background-color: #fd0a0a;
}



/* --------------header ----------- */
header {
    background-color: #ffebdc;
    padding: 25px 45px 0px;
}





/* ----------navbar------------ */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.navbar ul {
    display: flex;
    align-items: center;
}
.navbar ul li {
    list-style: none;
    margin-left: 40px;
}
.navbar a {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
}
.navbar a:hover {
    border-bottom: 3px solid #FD6E0A;
}
.title {
    font-size: 48px;
    font-weight: bold;
    color: #909090;
}
.title span {
    color: #FD6E0A;
}




/* ----------------banner---------------- */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}
.banner-text h4 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 5px;
}
.banner-text h2 {
    font-size: 72px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
    color: #909090;
}
.banner-text p {
    font-size: 22px;
}
.banner-text .primary-btn {
    margin-top: 25px;
}
.banner-image {
    /* background-image: url(/images/header_bg.png); */
}
.banner-image img {
    width: 500px;
}




/* ----------------about-------------------- */
.about {
    background-color: #ffebdc;
    margin: 120px;
    padding: 150px 100px;
    border-radius: 10px;
}
.about h3 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}
.about > p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 80px;
    color: #909090;
}
.about-info {
    display: flex;
    justify-content: space-around;
}
.about-info > div {
    text-align: center;
}
.about-info div p {
    font-size: 22px;
    color: #909090;
    margin-bottom: 15px;
}
.about-info div h4 {
    font-size: 26px;
    font-weight: normal;
}



/* ----------------------------------------what I do section -------------------------------- */
.what-i-do {
    margin: 120px;
}
.what-i-do h4 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 40px;
}
.card-container {
    display: flex;
    gap: 30px;
}
.card {
    box-shadow: 0px 0px 50px rgb(235, 235, 235);
    margin: 15px 0;
    border-radius: 10px;
    padding: 40px 25px;
}
.card h3 {
    margin: 25px 0;
}